.xscroll{
    display: flex;
    height: auto;  
    width: 100vw;
    height: 5cm;
    overflow-x: scroll;
}
.xscroll::-webkit-scrollbar{
    height: 14px; /* スクロールバーの高さ */
}
.xscroll::-webkit-scrollbar-thumb{
background: #d2b48c; /* ツマミの色 */
border-radius: 7px; /* ツマミ両端の丸み */
}
.xscroll::-webkit-scrollbar-track{
background: #f5deb3; /* トラックの色 */
border-radius: 7px; /* トラック両端の丸み */
}

/* 3要素それぞれ */
.softElement{
    text-align: center;
    width: 5cm;
    height: 3.5cm;
    min-width: 5cm;
    min-height: 3.5cm;
    display: inline-block;
    border-top:solid 10px #c2e08f;
    padding: 0.1cm;
    margin: 0.5cm 0.05cm 0.2cm;
    border: solid 2px #555;
    border-radius: 0.1cm;
}
.softElement a{
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family:'Zen Kaku Gothic New',sans-serif;
}
.softElement a h1{
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/* アイコン画像 */
.softElement a img{
    margin: 0.8vw;
    max-width: 4cm;
    max-height: 2.5cm;
}
/* 各要素のちっちゃな説明文 */
.softElement a p{
    font-weight: normal;
    list-style: none;
    font-size: 80%;
    margin: 5px; 
    padding: 0;
}

.rpic{
    background-color: #cfc0c0;
    margin: 0.7cm; 
    border-radius: 1cm;
}
.rpic h1{
    padding: 0.8cm 0.6cm 0.4cm 0.8cm;
    margin: 0;
    text-align: left;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.piccon{
    display: flex;
}
.rpic p{
    text-align: left;
    padding: 8px;
    margin: 0.2cm;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    word-wrap: break-word;
    min-width: 0;
    display: inline-block;
}
.rpic .dekap p{
    font-weight: 900;
    font-size: 64px;
}
.rpic p span{
    display: inline-block;
}
.rpic .normalp p{
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
}
.rpic .item{
    width: 50%;
    flex: 1;
    margin: 0.6cm 1cm 1cm 1cm;
}
.rpic .itemp{
    width: 50%;
    margin: auto 0 auto 0.5cm;
    padding: 0;
    text-align: left;
    flex: 1;
	overflow: hidden;
}
.rpic .itemp img{
    width: 700px;
    margin: 0.8cm 0;
}



.lpic{
    background-color: #cfc0c0;
    margin: 0.7cm; 
    border-radius: 1cm;
}
.lpic h1{
    padding: 0.8cm 0.6cm 0.4cm 0.8cm;
    margin: 0;
    text-align: left;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.lpic p{
    text-align: left;
    padding: 8px;
    margin: 0.2cm;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    word-wrap: break-word;
    min-width: 0;
    display: inline-block;
}
.lpic .dekap p{
    font-weight: 900;
    font-size: 64px;
}
.lpic p span{
    display: inline-block;
}
.lpic .normalp p{
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
}
.lpic .item{
    width: 50%;
    flex: 1;
    margin: 0.6cm 1cm 1cm 1cm;
}
.lpic .itemp{
    width: 50%;
    margin: auto 0.5cm auto 0;
    padding: 0;
    text-align: right;
    flex: 1;
	overflow: hidden;
}
.lpic .itemp img{
    width: 700px;
    margin: 0.8cm 0;
}
.lpic .itemp .wordle{
    width: auto;
    height: 631px;
    min-height: 631px;
    object-position: right;
}

.picPwpF{
    background: linear-gradient(to bottom right, #ffb687, #d3cc64);
}
.picWordle{
    background: linear-gradient(to bottom right, #8ec687, #b8ddcd);
}
.picNo300{
    background: linear-gradient(to bottom right, #ede5ab, #d1eb9c);
}
.picTsubo{
    background: linear-gradient(to bottom right, #b78c7e, #bdb0a0);
}